.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 500px;
}

body {
    background-color: #f7f7f7;
}

#page-content {
    min-height: 80vh;
    padding-bottom: 80px;
}

.bottom-navmenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

#navMenuBottom a.nav-link {
    font-size: .75rem;
    border-radius: 10rem;
    position: relative;
}

#navMenuBottom a.nav-link .fa {
    display: block;
    text-align: center;
    font-size: 1rem;
}

#navMenuBottom .current-menu-item>a .fa {
    color: #333333;
}

#navMenuBottom .current-menu-item>a.nav-link:after {
    content: "\f111";
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    right: 0;
    font-size: .5rem;
    color: #000;
}

.row>.content-area,
.row>.widget-area {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

.admin-bar #offcanvasMenuHeader {
    padding-top: 2rem;
}

.list-group a i {
    width: 1.5rem;
    text-align: center;
    opacity: .4;
}

.page>.entry-header>.entry-title {
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #000 !important;
}

.card-register-page #submit-register,
#bp-messages-send {
    background-color: var(--bs-primary);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: 0;
    border-radius: 0.25rem;
}

#bbpress-forums fieldset.bbp-form {
    background-color: #fff;
    padding: 2rem;
}

body.page .entry-header {
    display: none;
}

.card-profile-member .table tr td {
    width: 100%;
    display: block;
}

.card-profile-member .table tr td:first-child {
    border-bottom: 0;
}

.switch-field {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.411);
    text-align: center;
    transition: all 0.1s ease-in-out;
    padding: 0.25rem 1rem;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 30%), 0 1px rgb(255 255 255 / 10%);
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: var(--bs-success);
    box-shadow: none;
    color: #fff;
}

.switch-field label:first-of-type {
    border-radius: .25rem 0 0 .25rem;
}

.switch-field label:last-of-type {
    border-radius: 0 .25rem .25rem 0;
}

.buddypress-wrap .bbpress-wrapper .bbp-search-form {
    width: 100%;
}

.buddypress-wrap .bbpress-wrapper h2 {
    font-size: 1.3rem;
}

.header-navmenu .title-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
}

.float-button-bottom {
    position: fixed;
    bottom: 80px;
    right: 0;
    left: 0;
}

.header-navmenu {
    transition: all .5s;
}

body.admin-bar .header-navmenu.scrolled {
    top: 32px;
}

body.page-scroll-down .header-navmenu.scrolled {
    top: -100%;
}

.single-card-custom .bg-image-content {
    margin-top: -70px;
    border-bottom-right-radius: 3rem !important;
    border-bottom-left-radius: 3rem !important;
    overflow: hidden;
    margin-left: -.75rem;
    margin-right: -.75rem;
}

.single-card-custom .post-author {
    margin-top: -30px;
}

.single-card-custom .post-author img {
    border: 0.35rem solid #fff;
    background: #fff;
}

.single-admateri .header-navmenu:not(.scrolled) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.single-admateri.admin-bar .header-navmenu:not(.scrolled) {
    top: 32px;
}

.single-admateri .header-navmenu:not(.scrolled) .header-navmenu-inner>div {
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7707457983193278) 0%, rgba(0, 0, 0, 0.08727240896358546) 100%) !important;
}

.single-admateri .header-navmenu:not(.scrolled) a,
.single-admateri .header-navmenu:not(.scrolled) .btn,
.single-admateri .header-navmenu:not(.scrolled) .title-header {
    color: #fff !important;
}

@media screen and (max-width: 768px) {
    #offcanvasMenuHeader {
        width: 80%;
    }
}